@import "../_settings.scss";


#login {
    display: flex;
    margin: auto;
    margin-top: 15vh;
    width: 95vw;
    max-width: 600px;
    background-color: #F8FAFD;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#login__form {
    margin: 0 auto;
    width: 80%;
/*     background-color: #3A589B;    */
}


/* TITLE */
#login__form__title {
    margin-top: 40px;
    font-weight: 900;
    font-size: 30px;
    color: #{$color-primary};
}

/* INPUT */
#login__form__input {
    margin: auto;
    width: 100%;
}

#login__form__input__id {
    margin-top: 20px;
    width: 100%;
    height: 65%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login__form__input__pw {
    margin-top: 2%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login__form__option{
    display: flex;
    margin-top: 10px;
}

#login__form__option__remember {
    display: flex;
    align-items: center;
}

#login__form__option__remember__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #{$color-primary};;
    cursor: pointer;
}
#login__form__option__remember__checkbox__icon{
    color: white;
    font-size: 7px;
}

#login__form__option__forget{
    display: flex;
    align-items: center;
    margin:  0 0 0 auto;
    color: darkgray;
    cursor: pointer;
}

#login__form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #{$color-primary};
    font-weight: 900;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

#login__form__forget {
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

#login__form__yet{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    color: darkgray;
}

#login__form__yet__register{
    font-weight: 700;
    color: #{$color-primary};
}
























/*  */
#login__form__hr {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#login__form__hr__item {
    color: rosybrown;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#login__form__sns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__form__sns__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    
    border-radius: 0.5rem;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.login__form__sns__item__img {
    width: 23px;
    height: 23px;
}

#login__form__sns__google{
    
    color:#EC3D29;
    border: 1px solid #EC3D29;
}
#login__form__sns__facebook{
    
    color:#3A589B;
    border: 1px solid #3A589B;
}


