{% extends 'common/base.html' %}


{% block content %}
<link rel="stylesheet" href="/static/css/contact/contact.css">
<div id="contact">
    <form id="contact__form">
        <div id="contact__form__title">Let's talk</div>
        <div id="contact__form__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat doloribus
            maxime illum repudiandae aperiam
        </div>

        <div id="contact__form__email">
            <div id="contact__form__email__label">Your Email</div>
            <input type="text" id="contact__form__email__input" class="contact__form__input">
        </div>
        <div id="contact__form__msg">
            <div id="contact__form__msg__label">Your Message</div>
            <textarea name="" id="contact__form__msg__input" cols="30" rows="5" class="contact__form__input"></textarea>

        </div>
        <div id="contact__form__submit">Send Message</div>
    </form>


    <div id="contact__info">
        <img src="#" alt="" id="contact__info__img">
        <div id="contact__info__email">mydjnago@mydjango.com</div>
        <div id="contact__info__tel">+82 10-1234-5678</div>
    </div>
</div>

{% endblock %}